/* Common */
* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;}

html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Player */
.player {
    min-width: 320px;
    background-image: linear-gradient(rgb(75, 67, 198), black);
    border-radius: 1rem;
    padding: 2rem;
    color: white;
    box-shadow: 2px 2px 3px black;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Title */
.title {
    margin-top: 0;
    text-align: center;
}

/* Cover */
.cover {
    width: 128px;
    height: auto;
    border-radius: .3rem;
    display: block;
    margin: 0 auto 1rem auto;
}

/* Progress */
.progress-container {
    height: .6rem;
    background-color: lightgray;
    margin-bottom: 1rem;
    border-radius: 15px;
}

.progress {
    background-color: green;
    width: 0;
    height: 100%;
    border-radius: 15px;
}

/* Controls */
.controls {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.controls .play {
    background-color: rgba(255, 255, 255, 0.244);
    border-radius: 50%;
    padding: 1rem;
}

.controls button {
    background-color: transparent;
    border: none;
}

.controls i {
    font-size: 1.7rem;
    color: white;
}

/* Songs */
.songs {
    margin: 0;
    padding: 0;
    list-style: none;
}

.songs li {
    margin-bottom: 1rem;
}

.songs a {
    color: lightgray;
    text-decoration: none;
}

.songs a.active {
    color: white;
    font-weight: bold;
}